{{>headerlinks}}
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/error.avif" alt="vishal" class="img-fluid" title="vishalWeather">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span>Mern Stack Developer</span></h1>
                        <a href="/"><button>ABOUT ME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>
</html>