{{>headerlinks}}
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="row align-items-center mx-auto">
                    <figure class="error">
                        <img src="images/error.avif" alt="vishal" title="error page" class="img-fluid">
                    </figure>
            </div>
             <div class="row mx-auto main_header_left mb-50%">
                     <p>Welcome to Vishal Technical World</p>
                    <h1>Oops! Page Not Found</h1>
                    <a href="/"><button>GO BACK</button></a>
            </div>
        </div>
    </div>

   {{>footer}}
</body>
</html>