{{>headerlinks}}
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row align-items-center">
                    <figure>
                        <img src="images/error.avif" alt="vishal" title="error page" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>
</html>