@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Piazzolla:wght@700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg : #1e272e;
    --main-color : #0097e6;
}

html{
    font-size: 62.5%;
}

span{
    color: var(--main-color);
}
body{
    height: 100vh;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    background-color: var(--main-bg);
}
.main_header{
    height: 89vh;
}
footer{
    margin-top: auto;
    text-align: center;
}

